<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/vendors/materialize/css/materialize.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <title>Gestion Location</title>
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav class="nav-wrapper grey darken-3">

            <div class="container">
                <a href="../index.html"  class="brand-logo">Gestion Location</a>
                <a href="" data-target="mobile-menu" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">

                    <li>
                        <a href="../login.html" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Se déconnecter" > <i class="material-icons">power_settings_new</i> </a>
                    </li>
                </ul>
                <ul class="sidenav grey ligthen-2" id="mobile-menu">
                    <li><a href="">Immeubles</a></li>
                    <li><a href="">Locataires</a></li>
                    <li><a href="">Paiements</a></li>
                    <li><a href="">Retraits</a></li>
                </ul>
            </div>

        </nav>

        <!-- Nav bar menu -->
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="../assets/img/2766245.jpg">
                    </div>
                    <a href="#user"><img class="circle" src="../assets/img/user.jpg"></a>
                    <a href="#name"><span class="white-text name">Russel Willials</span></a>
                    <a href="#email"><span class="white-text email">email@utilisateur.com</span></a>
                </div>
            </li>
            <li><a href="#!"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
            <!-- <li><a href="#!">Second Link</a></li> -->
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Services</a></li>
            <!-- <li><a class="subheader">Services</a></li> -->
            <li><a class="waves-effect" href="immeuble.html">Immeubles</a></li>
            <li><a class="waves-effect" href="proprietaires.html">Propriétaires</a></li>
            <li><a class="waves-effect" href="locataires.html">Locataires</a></li>
            <li><a class="waves-effect" href="paiement.html">Paiements</a></li>
            <li><a class="waves-effect" href="retrait.html">Retrait</a></li>
        </ul>
        <!-- <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    </header>
    <section class="container margin-top">

        <div class="row">
            <div class="col s12 l2">
                <a href="" data-target="slide-out" data-position="bottom" data-delay="50" data-tooltip="Montrer le menu"
                    class="waves-effect waves-light sidenav-trigger tooltipped hide-on-med-and-down"> <i class="material-icons">menu</i></a></div>
            <div class="col s12 l8">



                <form action="">
                    <div class="row">
                        <div class="col s12 l10">
                            <div class="input-field">
                                <i class="material-icons prefix">search</i>
                                <input id="searchitem" type="text">
                                <label for="searchitem">Faite votre cherche ici</label>

                            </div>
                        </div>
                        <div class="s12 l3 offset-l1">
                            <a href="" class="btn center waves-effect waves-light">Valider</a>
                        </div>
                </form>


            </div>

        </div>
        </div>
        <h2 class="flow-text center">Immeubles</h2>
        <div class="row">
            <div class="col s12">

                <table class="centered responsive-table">
                    <thead>
                        <tr>
                            <th class="flow-text">Propriétaire</th>
                            <th class="flow-text">Immeuble</th>
                            <th class="flow-text">Nombre d'appartement</th>
                            <th class="flow-text">Nombre d'appartement pris</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>DragonBae</td>
                            <td>5</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>DragonBae</td>
                            <td>5</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Alvin</td>
                            <td>DragonBae</td>
                            <td>5</td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div>
            <a modal-trigger class="btn-floating right btn-large waves-effect modal-trigger  waves-light red"
                href="#immeublemodal"> <i class="material-icons">add</i></a>
        </div>

        <div id="immeublemodal" class="modal">
            <div class="model-content">
                <div class="container margin-top">
                    <h1 class="flow-text center ">Ajouter un nouvel immeuble</h1>
                    <div class="row">
                        <form>
                            <div class="col s12 l6">
                                <div class="input-field">
                                    <input type="text" id="immo">
                                    <label for="immo">Entrer le nom de l'immeuble</label>
                                </div>
                                <div class="input-field">
                                    <input type="number" id="nberoccupe">
                                    <label for="nberoccupe">Nombre d'appartement occupé</label>
                                </div>
                            </div>
                            <div class="col s12 l6">
                                <div class="input-field">
                                    <!-- <select>
                                        <option value="" disabled selected>Nom du propriétaire</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                    </select> -->
                                    <input type="text" id="proprio">
                                    <label for="proprio">Nom du propriétaire</label>
                                </div>
                                <div class="input-field">
                                    <input type="number" id="nbretotal">
                                    <label for="nbretotal"> Nombre total d'appartement</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="red modal-close waves-effect waves-green btn">Fermer</a>
                <a href="#!" class="indigo whiet-text waves-effect waves-green btn">Valider</a>
            </div>

        </div>
    </section>


    <script src="../assets/vendors/materialize/js/materialize.js"></script>
    <script defer src="https://friconix.com/cdn/friconix.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>